* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #f5f5f5;
    margin: 0;
    padding: 20px 0;
    height: 100vh;
}

.container {
    background-color: #fff;
    width: 80%;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
    margin: auto;
}

.input-field {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.input-field input,
.input-field button {
    height: 40px;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.5s ease;
}

.input-field input {
    flex-grow: 1;
    margin-right: 10px;
}

.input-field input::placeholder {
    color: #aaa;
}

.input-field button {
    background-color: #4466ee;
    color: #fff;
    cursor: pointer;
}

.input-field button:hover {
    background-color: #3355dd;
}

.post {
    border-radius: 8px;
    background-color: #f5f5f5;
    margin-bottom: 20px;
    padding: 20px;
    position: relative;
}

.post h2 {
    margin: 0;
    color: #4466ee;
    font-weight: 700;
}

.post p {
    margin: 10px 0 0;
    color: #333;
}

.post button {
    position: absolute;
    right: 10px;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.post button#delete-button {
    top: 10px;
    background-color: #ff4444;
}

.post button#delete-button:hover {
    background-color: #cc0000;
}

.post button#like-button {
    top: 50px;
    background-color: #f23ead;
}

.post button#like-button:hover {
    background-color: #c52983;
}

p.likes-counter {
    position: relative;
    display: inline-block;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    color: #fff;
    z-index: 1;
    width: 45px;
    text-align: center;
}

p.likes-counter::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background: url("pink_heart_apple.png") no-repeat center;
    background-size: contain;
    pointer-events: none;
    z-index: -1;
}
